//remove pesky jetstream input styling!
input {
    all: unset;
}
[type="radio"] {
    all: unset;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}

@import "./tabs-component.scss";
@import "./inputs.scss";
@import "./tooltips.scss";
@import "./buttons.scss";
@import "./tooltip.scss";
@import "./tiptap-editor.scss";

@font-face {
    font-family: manrope;
    src: url(../fonts/manrope.ttf);
}
@font-face {
    font-family: notosans;
    src: url(../fonts/notosans.ttf);
}
@font-face {
    font-family: "sugarmagic";
    src: url(../fonts/sugarmagic.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

[x-cloak] {
    display: none;
}

html:not(.sidebar-menu) {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "manrope";
    //font-family: notosans;
    color: #363636;
    font-size: 13px;
}

h1 {
    font-size: 44px;
    line-height: 160%;
}
h2 {
    font-size: 40px;
    line-height: 160%;
}
h3 {
    font-size: 36px;
    line-height: 160%;
}
h4 {
    font-size: 24px;
    line-height: 160%;
}
h5 {
    font-size: 20px;
    line-height: 160%;
}
h6 {
    font-size: 18px;
    line-height: 160%;
}
p {
    font-size: 13px;
    line-height: 120%;
}

.logo-font {
    font-family: "sugarmagic";
}

.sugar-font {
    font-family: "sugarmagic";
    font-size: 36px;
}

//------------------------------

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
