.p-tooltip {
    border-radius: 0px; 
}
.p-tooltip div {
    background-color: #27272A;
    //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.p-tooltip-arrow div {
    background-color: #27272A;
}
.p-tooltip-text {
    color: white;
}
